html,
body {
  height: 100%
}
.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 400px;
    
}
.container input {
    width: 300px;
    height: 50px;
    border-radius: 15px;
}
.container button {
    width: 300px;
    height: 50px;
    border: transparent;
    background-image: linear-gradient(75deg, #fe5371, #ffa086);
    border-radius: 15px
}