.brandColor{
  color: #FF5973;
}
.brandBg{
  background-color: #FF5973;
}
.btnBrand{
  padding: 8px 20px;
  color: white;
  border: none;
  border-radius: 12px;
  background-image: linear-gradient(to right,#FF5973, #FF9E86);
}

.btnBrand:hover {
  background-image: linear-gradient(to right,#FF9E86, #FF5973);
}